.dashboard{
  display: flex;
}
.Leftnav{
  height: 100vh;
  width: 20%;
  background-color: black;
}
.links{
  display: grid;
  margin-top: 250px;
  padding: 30px;
  justify-content: space-between;
}

.workspace{
  height: 100vh;
  width: 80%;
}
.topnav{
  height: 20%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.logo{
  color: white;
  font-size: 30px;
  
}
.Listitems ul li{
  display: inline-block;
  color: white;
  margin-right: 20px;
}
.content{
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.profilecontent{
  padding: 100px;

}
.addcontents{
  padding: 30px;
}
.register{
  display: flex;
  
}
.leftside{
  width: 50%;
  height: 100vh;
  padding: 200px;
}
.rightside{
  height: 100vh;
  width: 50%;
  background-image: url(../src/images/pexels-karolina-grabowska-4386439.jpg);
  background-size: cover;
}
